<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RECONOCIMIENTO DE GESTOS</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">

  <script type="text/javascript" src="/eel.js"></script>
  <script type="text/javascript" src="../controller/main.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">MARCHINE LEARNING</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gestos.html">GESTOS
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="facial.html">RECONOCIMIENTO FACIAL</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full"
    style="background-image: url('https://i.pinimg.com/originals/d2/ba/fc/d2bafcaa69cd97803d61cf697effa420.jpg');">
    <div style="height: 400px;"></div>

  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>RECONOCIMIENTO DE GESTOS</h1>
      <hr>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input id="buscadorImagenes" onchange="previewImage(this)" type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01" accept=".jpg,.png,.jpeg">
          <label class="custom-file-label" for="inputGroupFile01">Seleccionar imagen</label>
        </div>
      </div>
      <hr>
      <div>
        <img id="imageGesto" width="200" height="200">
      </div>
      <br>
      <div class="progress">
        <div id="progressBarGestos" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" hidden>0%</div>
      </div>
      <br>
      <h5 id="infoGesto">(Este es el GESTO): 0%</h5>
      <h6 id="typeFileHidden" hidden></h1>
      <h6 id="b64FileHidden" hidden></h6>
      <hr>
      <button id="analizarImagen" onclick="recogImage()" type="button" class="btn btn-outline-success btn-block btn-lg">ANALIZAR</button>
    </div>
  </section>

  <!-- Image element - set the background image for the header in the line below -->


  <!-- Content section -->


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; TEAM GALLINITA 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>